@import '../../style.scss';

.blog-form input:focus {
    border-color: $yellow ;
}

.description-box {
    @include border-radius(0);
	height: 150px;
	resize: none;
	padding-top: 20px;
	letter-spacing: 1px; 
}

.btn-add {
    background: #bf7034 ;
	@include border-radius(0);
	color: #fff;
	padding: 10px 50px;
}


.react-tag-input {
    height: 45px ;
}

.react-tag-input:focus {
    border-color: $yellow ;   
}

.catg-dropdown {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    color: #806a78;
  }
  
  .catg-dropdown:focus {
      outline: none ;
      border-color: $yellow;
  }
  
  .trending {
      float: left;
      color: #806a78;
      font-size: 18px;
      margin: auto;
  }