@import '../../style.scss';

.heading {
    font-size: 20px;
	color: #424040;
    font-weight: 600;
}

.input-text-box {
    @include border-radius(0);
	font-size: 15px;
	height: 45px;
	letter-spacing: 1px;  
}

.form-control:focus {
    box-shadow: none ;
    border-color: $yellow ;
}

.btn-sign-in {
    background: #c43421;
    @include border-radius(0);
	color: #fff;
	padding: 10px 50px;
    border-radius: 5px ;
}

.btn-sign-up {
    background: #4287f5;
    @include border-radius(0);
	color: #fff;
	padding: 10px 50px;
    border-radius: 5px ;
}